{% extends 'polls/index.html' %}

{% load bootstrap3 %}s

{% block content %}

    <div class="container">
            <h1>Create Choice</h1>

    <form method="POST">
    {% csrf_token %}
{{ formset.management_form }}
{% for form in formset.forms %}
    <div class='table'>
    <table class='no_error'>
        {{ form.as_p }}
    </table>
    </div>
{% endfor %}
    <input type="submit" class="btn btn-default" name="submit" onclick="return empty()">
    </form>
<input type="button" value="Add More" id="add_more">
    </div>
<script>
    $('#add_more').click(function() {
        cloneMore('div.table:last', 'service');
    });
    function cloneMore(selector, type) {
    var newElement = $(selector).clone(true);
    var total = $('#id_form-TOTAL_FORMS').val();
    newElement.find(':input').each(function() {
        var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
        var id = 'id_' + name;

        if ($(this).attr('type') != 'hidden') {
            $(this).val('');
        }
        $(this).attr({'name': name, 'id': id}).removeAttr('checked');
    });
    newElement.find('label').each(function() {
        var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
        $(this).attr('for', newFor);
    });
    total++;
    if(total > 11)
        return false;
    $('#id_form-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
}
</script>
    <script type="text/javascript">
        function empty() {
    var x;
    x = document.getElementById("id_form-0-choice_text").value;
    if (x == "") {
        alert("Proszę wypełnić przynajmiej jedno pole");
        return false;
    };
}
    </script>

{% endblock %}
