{% extends 'polls/index.html' %}
{% load bootstrap3 %}

{% block content %}

<div class="container">
    <h1>Create Poll</h1>
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" name="" class="btn btn-default" value="Create Poll" onclick="return empty()">
    </form>
</div>
    <script type="text/javascript">
        function empty() {
    var x;
    x = document.getElementById("id_form-0-choice_text").value;
    if (x == "") {
        alert("Proszę wypełnić przynajmiej jedno pole");
        return false;
    };
}
    </script>

{% endblock %}
